html {
    height: 100%;
    background-color: #aba9a6;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 10% auto;
    background-color: #eff7fa;
    height: 25rem;
    width: 100%;
    max-width: 600px;
    position: relative;
}

.container h1 {
    color:#6C6565;
    position: relative;
    bottom: 2rem;
}

form {
    position: relative;
    bottom: 1.5rem;
    margin: 0 auto;
}

label {
    color: #6C6565;
    display: block;
    font-size: small;
}

#username, #email {
  display: block;
  margin: 0.8rem 0;
  padding: 0.5rem 2rem;
  width: 10rem;
  font-size: .9em;
}

#submit {
    display: flex;
    margin: 0 auto;
    padding: 0.5rem 15%;
    background-color: #1162CF;
    color: white;
    border-radius: 5px;
    position: relative;
    top: 1rem;
    cursor: pointer;
}